header {
  font-family: 'ABeeZee';
  font-size: 22px;
  background-color: black;
  color: white;
  text-align: center;
  display: block;
  padding: 2%;
  margin: 0px;
}

a.header {
  color: white;
  text-decoration: none;
}

a:hover.header {
  color: lightgray;
}

a.body {
  color: white;
  text-decoration: underline;
}

a:hover.body {
  color: lightgray;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: dimgray;
}

body {
  font-family: 'ABeeZee';
  font-size: 22px;
  color: white;
  background-color: hsl(241, 67%, 37%);
  background-image: url("dna.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
}

p.quote {
  text-indent: 10%;
}

p.center {
  text-align: center;
}

h1 {
  text-align: center;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.footer {
  padding: 2%;
  font-family: 'ABeeZee';
  font-size: 22px;
  background-color: white;
  color: black;
  text-align: center;
}

h2.icons {
  word-spacing: 30px;
}